@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playpen+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: linear-gradient(to bottom, rgb(22, 27, 78) 0%, rgb(12, 15, 44) 20%);
    --text-color: rgb(238, 237, 237);
}

.dark-mode {
    --bg-color: linear-gradient(to bottom, rgb(228, 226, 226) 0%, rgb(244, 244, 247) 20%);
    --text-color: rgb(22, 27, 78);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
html {
    scroll-behavior: smooth;
}
.slide-track {
	animation: scroll 55s linear infinite;
    -webkit-animation: scroll 55s linear infinite;
    width: calc(200px * 28);
}
@keyframes scroll {
	0% {
        -webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
        -webkit-transform: translateX(calc(-200px * 14));
		transform: translateX(calc(-200px * 14));
	}
}